body {
    background-color: rgb(0, 81, 255);
    display: flex;
    justify-content: center;
    align-items: center;
}
.container {
    width: 50rem;
    height: 40rem;
    background-color: #fff;
}
.number {
    margin-top: 2rem;
    margin-left: 10rem;
}
.city {
    margin-top: 1rem;
    margin-left: 10rem;
    font-size: 3rem;
}
.icon {
    font-size: 1rem;
    padding-left: 1rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;  
}
.icon i {
    margin: 15px;
}
.image {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-left: 8rem ;
    padding-bottom: 20rem;
}
.image img {
    width: 15rem;
    height: 15rem;
    margin: 5px;
}

